.no_border_bottom{
  border-bottom: 0px !important;
}

.houseRecommendation{
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.house_recommendation_wrapper{
  width: 100%;
  height: 160px;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}
.house_rec_title{
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  padding-left: 10px;
}
.slider_side{
  width: 100%;
}
.silder_box{
  height: 130px;
  padding-bottom: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.silder_wrap{
  width: 850px;
  height: 130px;
}
.house_box{
  width: 150px;
  height: 100px;
  float: left;
  margin: 12px 10px;
  position: relative;
  overflow: hidden;
  background: center center no-repeat;
  background-size: cover;
  background-image: url('../image/home/rec_rent01.jpg');
}
.house_box img{
  width: 100%;
  height: 100%;
  display: none;
}
.house_box .rec_title{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(bottom , rgba(0, 0, 0, 0.55) , rgba(0, 0, 0, 0.01) 100%);
  background: -o-linear-gradient(bottom , rgba(0, 0, 0, 0.55) , rgba(0, 0, 0, 0.01) 100%);
  background: -ms-linear-gradient(bottom , rgba(0, 0, 0, 0.55) , rgba(0, 0, 0, 0.01) 100%);
  background: -moz-linear-gradient(bottom , rgba(0, 0, 0, 0.55) , rgba(0, 0, 0, 0.01) 100%);
  background: -webkit-linear-gradient(bottom , rgba(0, 0, 0, 0.55) , rgba(0, 0, 0, 0.01) 100%);
}
.house_box .rec_title span{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
}
